*~
.cpcache
.DS_Store
.idea
.lsp
.clj-kondo
.nrepl-port
nohup.out
deploy.sh
isn-*.edn
isn.tgz
key.pub
isn-ref-impl.iml
logs
target
isn-*
resources/public/data/notes/*.edn
resources/public/data/signals/*.edn
build
signals/*
